.support-heading {
  padding-top: 5px;
  font-size: 18px;
  color: #5e676f;
  font-weight: 500;
}
.faq-heading {
  font-size: 16px !important;
  color: #5e676f !important;
}
.faq-container {
  height: 600px;
  overflow: scroll;
  background-attachment: fixed;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 2rem;
}

.faq-container::-webkit-scrollbar {
  display: none;
}

.faq-cover {
  border: none;
  margin: 0.5rem 0px;
  background-color: #ffffff !important;
  border-radius: 4px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.accordion-button {
  padding: 1rem;
  color: #5e676f;
  font-size: 14px;
}
.accordion-button:not(.collapsed) {
  color: #5e676f !important;
  background-color: #ffffff !important;
}
.accordion-body {
  padding: 1rem;
  font-size: 14px;
  color: #99a0ac;
}

@media (max-width: 1280px) {
  .faq-container {
    height: 400px;
    padding-bottom: 5rem;
  }
}

@media (max-width: 992px) {
  .accordion-button {
    padding: 0.7rem;

    font-size: 14px;
  }

  .accordion-body {
    padding: 0.7rem;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .faq-container {
    max-height: 60vh;
    padding-bottom: 2rem;
  }
}
