.invoice-heading-container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 1rem;
}
.complete-container-invoice-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.complete-conatiner-create-invoice {
  border: none;
  font-weight: 500;
  padding: 5px 16px;
  border-radius: 4px;
  background: linear-gradient(to left, #00dcff, #0075ce);
  color: white;
  font-size: 14px;
}
.invoice-heading {
  padding-top: 5px;
  font-size: 20px;
  font-weight: 600;
  color: #5e676f;
}
.complete-conatiner-head {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}
.invoice-wrapper {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  padding: 1rem 0px;
}

.invoice-wrapper-left {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.invoice-wrapper-left-icons {
  color: #99a0ac;
}

.invoice-left-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.invoice-wrapper-left-text {
  display: flex !important;
  column-gap: 10px;
  font-size: 14px;
  color: #5e676f;
}

.invoice-wrapper-left-text.active {
  color: #448bff;
}

.invoice-wrapper-right {
  width: 100%;
  /* border: 1px solid blue; */
}

@media screen and (max-width: 992px) {
  .invoice-wrapper-left {
    display: none;
  }
}
