.invopice-card-section-design {
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .invopice-card-section-design {
    display: flex;
    flex-direction: column;
  }
}
