/* Modal overlay */
.order-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.order-modal-custom-main-sections{
  display: flex;
  gap: 14px;
  width: 100%;
}

/* Modal content */
.order-modal-content-section {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  height: 700px;
  overflow: scroll;
  max-width: 600px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.order-modal-content-section::-webkit-scrollbar {
  display: none;
}

.order-modal-main-heading {
  font-size: 16px;
  font-weight: 500;
}

.main-modal-form-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.order-modal-dic-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.order-modal-label {
  font-size: 14px;
  font-weight: 500;
}

.order-modal-input {
  width: 100% !important;
  color: #5e676f !important;
  border-radius: 4px !important;
  outline: none !important;
  border: none !important;
  margin-bottom: 0px !important;
  padding: 11px !important;
  font-size: 13px !important;
  border-color: transparent !important;
  appearance: none !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.modal-order-button-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Close button */
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Submit button */
.submitButton {
  background: linear-gradient(to left, #00dcff, #0075ce);
  color: white;
  padding: 5px 22px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 14px;
  line-height: 20px;
  border: none;
  cursor: pointer !important;
  margin-top: 10px;
}


   /* for button loader */
   .submitButton[disabled] {
    cursor: not-allowed;
    background-color: #ccc; /* Change to your desired disabled color */
  }
  
  .loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000; /* Spinner color */
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    to {
        transform: rotate(360deg);
    }
  }
  /* for button loader */

@media screen and (max-width: 1400px) {
  .order-modal-content-section {
    height: 450px;
    overflow: scroll;
    max-width: 500px;
   top: 20px;
  }
}